@using WEE.BlazorWebappTest.Components.Models;

@page "/todo"
@rendermode InteractiveServer

<h3>Todo (@(todos.Count(e => !e.IsDone)))</h3>

<p>input on tabout/enter: @newTodo</p>
<input @bind="newTodo" />

<p>input update oninput: @newTodo</p>
<input @bind-value="newTodo" @bind-value:event="oninput"/>

<p>date (yyyy-MM-dd)</p>
<input @bind="date" @bind:format="yyyy-MM-dd" />

<button @onclick="AddTodo">Add todo</button>

<br />
<br />

@foreach (var todo in todos)
{
    <div>
        <input type="checkbox" @bind="todo.IsDone" />
        <input @bind="todo.Title" />
        <button @onclick="() => todos.Remove(todo)">del</button>
    </div>
}

@code {
    private List<TodoItem> todos = new();
    private string newTodo = string.Empty;
    private DateTime date;

    private void AddTodo()
    {
        if (string.IsNullOrWhiteSpace(newTodo))
        {
            return;
        }

        todos.Add(new TodoItem { Title = newTodo });
        newTodo = string.Empty;
    }
}