
<h3>Cascading Example With Cascading Without Name</h3>

<CascadingValue Value="compName">
    <ChildWithCascadingWithoutName1 Description="hello world" />
    <ChildWithCascadingWithoutName2 Number="123" />
</CascadingValue>

@code {
    const string compName = "cascading child name";
}
