
<h3>Cascading Example Without Cascading</h3>

<ChildWithoutCascading1 CompName="childName" Description="hello world" />
<ChildWithoutCascading2 CompName="childName" Number="123" />

@code {
    const string childName = "cascading child name";
}
