
<h3>Cascading Example With Cascading With Name</h3>

<CascadingValue Name="ChildName" Value="compName">
    <ChildWithCascadingWithName1 Description="hello world" />
    <ChildWithCascadingWithName2 Number="123" />
</CascadingValue>

@code {
    const string compName = "cascading child name";
}
