<h5>ChildWithCascadingWithoutName1</h5>

<p>Name: @CompName</p>
<p>Description: @Description</p>

@code {
    [CascadingParameter]
    public string CompName { get; set; }
    [Parameter]
    public string Description { get; set; }
}
